/*
.accordion-container {
  width: 80% !important;
  margin: auto;
  margin-top: 110px;
}

.each-routine {
  background-color: #020d1d !important;
}
.accordion {
  background-color: #020d1d;
  border: 1px solid orange;
  border-bottom: 1px solid #05d4d85d;
}

.accordion-summary {
  background-color: #020d1d;
  height: 70px;
  color: white;
}
.accordion-summary svg {
  color: orange;
  font-weight: bolder;
  font-size: 35px;
}

.accordion-details {
  background-color: rgba(255, 166, 0, 0.087);
  color: white;
}

.accordion-details {
  color: inherit;
  background-color: inherit;
}
.details {
  background-color: #020d1d;
  display: flex;
}

.accordion-image {
  border: 1px solid red;
}

.accordion-information {
  border: 1px solid red;
}

.accordion-primary-mucscles {
  border: 1px solid red;
}

.accordion-instructions {
  border: 1px solid red;
}
*/

.MuiPaper-root {
  background-color: #020d1d !important;
  color: white !important;
  width: 80% !important;
  margin: auto !important;
  /* margin-top: 120px !important; */
  font-weight: 500 !important;
  border: 1px solid orange !important;
  border-bottom: 1px solid #05d4d85d !important;
  border-top: 1px solid #05d4d85d !important;
}

.MuiPaper-root svg {
  color: orange;
  font-size: 35px;
}

.hold-accordion {
  margin-top: 130px !important;
}

.MuiAccordionDetails-root {
  background-color: rgba(255, 166, 0, 0.073);
}
.MuiButtonBase-root {
  background-color: #020d1d !important;
  margin-bottom: 3px !important;
}

.MuiAccordionSummary-root {
  border-bottom: 1px solid #0c194135 !important;
  height: 60px !important;
  font-size: 22px !important;
}

.details {
  display: flex;
  /* border: 1px solid red; */
}

.acc-image {
  /* border: 1px solid red; */
}

.acc-info {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  gap: 1rem;
}
.acc-info div {
  border-radius: 12px;
}
.acc-detail {
  display: flex;
  gap: 3rem;
}
/* .acc-image {
  width: 76%;
  border-radius: 12px;
  overflow: hidden;
} */

.acc-primary-muscle {
  border: 1px solid rebeccapurple;
  padding: 10px;
  font-size: 20px;
}

.acc-instructions-detail {
  border: 1px solid red;
  padding: 10px;
}

.acc-instructions-detail p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.acc-instructions-detail .acc-instructions {
  font-size: 19px;
  line-height: -300%;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-top: 20px;
  color: rgb(223, 232, 162);
}

.static-primary-muslcle {
  color: #05d3d8;
}
