body {
  /* background-image: url("./assets/valley.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    75deg,
    rgb(20, 23, 33) 0%,
    rgb(20, 23, 33) 50%,
    rgba(20, 23, 33, 0.8) 100%
  );
  /* Vertical center */
  display: table-cell;
  vertical-align: middle;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 0% 25% 0% 25%;
}

.form-title {
  font-size: 42px;
  font-family: "Avenir";
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #e8e8e8;
  padding-bottom: 12px;
}

.form-subtitle {
  font-size: 18px;
  font-family: "Avenir";
  letter-spacing: 0.5px;
  color: #afafaf;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
  width: 100px;
}
.auth-input {
  background-color: #3e404b;
  color: white;
  font-family: "Avenir";
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}
.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "Avenir";
  cursor: pointer;
  transition: all 0.44s ease;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
}
.auth-button:hover {
  filter: brightness(145%);
}

.chat-wrapper {
  height: 80vh;
  width: 80%;
  margin-left: 10%;
  color: white;
  background: rgb(43, 47, 60);
}

.ce-chat-list {
  background-color: black !important;
}
.ce-chat-engine {
  color: white !important;
  background-color: black;
}

.ce-chat-form {
  background-color: black !important;
}

.ce-active-chat-card {
  color: black !important;
  background-color: orange;
}

.ce-chat-header {
  background-color: black !important;
  color: white !important;
}
.ce-message-list {
  background-color: black !important;
}

.ce-chat-list-column {
  overflow-y: hidden !important;
}

.ce-chat-feed-column {
  overflow-y: hidden !important;
}

.ce-chat-list {
  background-color: #020d1d !important;
}

.ce-chat-feed {
  background-color: #020d1d !important;
}

.ce-chat-avatars {
  background-color: #020d1d !important;
}

.ce-dropdown-label {
  background-color: #020d1d !important;
}
.ce-chat-settings-title {
  background-color: #020d1d !important;
}

.ce-chat-settings {
  background-color: #020d1d !important;
}

.ce-message-date-text {
  background-color: #020d1d !important;
}

#msg-textarea {
  height: 50px !important;
  text-indent: 25px !important;
  /* padding-top: 10px !important; */
  font-size: 20px !important;
  width: 80% !important;
  border-radius: 12px !important;
}

#ce-send-message-button {
  padding: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background-color: orange !important;
  color: black !important;
  font-size: 17px !important;
  position: absolute;
  top: -11px !important;
  left: 45px !important;
}

.ce-attachment-icon {
  font-size: 24px !important;
  border-radius: 5px !important;
  background-color: orange !important;
  border: none !important;
  position: absolute;
  top: -5px;
}

.ce-my-message-body {
  background-color: #44a8d3 !important;
  color: black !important;
}

.ce-their-message-body {
  background-color: orange !important;
  color: black !important;
}
.ce-chat-card {
  background-color: #44a8d3 !important;
  margin-bottom: 15px !important;
}

.ce-default-button {
  background-color: orange !important;
  border: none !important;
  font-weight: bolder !important;
}
