.whole-section {
  /* border: 2px solid orange; */
  height: 100vh;
  /* border-radius: 12px; */
  overflow: scroll;
  color: white;
  font-weight: 400;
  background-color: #020d1d;
}

::-webkit-scrollbar {
  color: transparent;
}
.image-sections img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-sections {
  border-radius: 15px;
  /* border: 3px solid rgba(248, 243, 233, 0.246); */
  width: 40%;
  height: 550px;
  overflow: hidden;
  margin-left: 40px;
}

.information-image-section {
  /* margin: 15px; */
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-between;
  column-gap: 5rem;
}
.inner-info-section {
  /* border: 1px solid orange; */
  margin: 20px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  border-radius: 12px;
  display: flex;
  gap: 3rem;
}
.inner-info-one {
  width: 310px;
  border: 1px solid orange;
  /* margin-right: 2px; */
  border-radius: 12px;
}
.inner-info-two {
  border-radius: 12px;
  border: 1px solid orange;
  width: 300px;
}
.inner-info-one span {
  padding-right: 20px;
}
.info-icons {
  font-size: 18px;
  color: orange;
}
.info-text,
.inner-info-two {
  font-size: 18px;
}
.inner-info-section div {
  padding: 10px;
  position: relative;
}

.info-section {
  /* border: 1px solid orange; */
  /* border-right: none; */
  /* border-: none; */
  /* border-radius: 12px; */
  width: 40%;
  margin-right: 80px;
  border-top: 2px solid orange;
  padding-top: 10px;
}

.instructions-section {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
  padding: 30px;
  row-gap: 1.5rem;
}

.instructions-section div {
  /* border: 1px solid white; */
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.instruction {
  display: flex;
  justify-content: start;
  padding: 10px;
  /* border: 2px solid white; */
}
.instructions {
  border: 1px solid orange;
  padding: 15px;
  border-radius: 12px;
  width: 1500px;
  color: rgb(210, 203, 203);
}
.instruction .instruction-icon {
  margin-right: 15px;
}

.instruction-title {
  /* padding-left: 33px; */
  margin-left: 100px;
  font-size: 30px;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  text-align: start;
  position: relative;
}

.title-icon {
  position: absolute;
  top: 2px;
  left: -45px;
  font-size: 35px;
  color: rgb(87, 87, 145);
}
