.MuiPaper-root {
  background-color: #020d1d !important;
  color: white !important;
  width: 70% !important;
  margin: auto !important;
  /* margin-top: 120px !important; */
  font-weight: 500 !important;
  border: 1px solid orange !important;
  border-bottom: 1px solid #05d4d85d !important;
  border-top: 1px solid #05d4d85d !important;
}

.MuiPaper-root svg {
  color: orange;
  font-size: 35px;
}

.hold-accordion {
  margin-top: 130px !important;
}

.MuiAccordionDetails-root {
  background-color: rgba(255, 166, 0, 0.073);
}
.MuiButtonBase-root {
  background-color: #020d1d !important;
  margin-bottom: 3px !important;
}

.MuiAccordionSummary-root {
  border-bottom: 1px solid #0c194135 !important;
  height: 60px !important;
  font-size: 22px !important;
}

.details {
  display: flex;
  /* border: 1px solid red; */
}

.acc-image {
  /* border: 1px solid red; */
}

.acc-info {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  gap: 1rem;
}
.acc-info div {
  border-radius: 12px;
}
.acc-detail {
  display: flex;
  gap: 3rem;
}
/* .acc-image {
  width: 76%;
  border-radius: 12px;
  overflow: hidden;
} */

.acc-primary-muscle {
  border: 1px solid rebeccapurple;
  padding: 10px;
  font-size: 20px;
}

.acc-instructions-detail {
  border: 1px solid red;
  padding: 10px;
}

.acc-instructions-detail p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.acc-instructions-detail .acc-instructions {
  font-size: 19px;
  line-height: -300%;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-top: 20px;
  color: rgb(223, 232, 162);
}

.static-primary-muslcle {
  color: #05d3d8;
}

/* ........................................ */

.details {
  display: flex;
  /* border: 1px solid red; */
}

.acc-image {
  /* border: 1px solid red; */
}

.acc-info {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  gap: 1rem;
}
.acc-info div {
  border-radius: 12px;
}
.acc-detail {
  display: flex;
  gap: 3rem;
}
/* .acc-image {
  width: 76%;
  border-radius: 12px;
  overflow: hidden;
} */

.acc-primary-muscle {
  border: 1px solid rebeccapurple;
  padding: 10px;
  font-size: 20px;
}

.acc-instructions-detail {
  border: 1px solid red;
  padding: 10px;
}

.acc-instructions-detail p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.acc-instructions-detail .acc-instructions {
  font-size: 19px;
  line-height: -300%;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-top: 20px;
  color: rgb(223, 232, 162);
}

.static-primary-muslcle {
  color: #05d3d8;
}

.routinrID-div {
  margin-top: 50px;
  font-size: 38px;
  font-weight: 500;
  color: orange;
  margin-left: 190px;
}

.text-based {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
  margin-left: 190px;
  margin-top: 30px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.text-based .upperdivs {
  border: 2px solid rgba(255, 166, 0, 0.078);
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  /* color: orange; */
  background-color: rgba(255, 166, 0, 0.07);
  font-size: 18px;
}
/* 
.upperdivs div {
  display: flex;
} */

.innerdivs {
  display: flex;
  flex-direction: row;
}

.section-in-div,
.second-section-in-div {
  border-radius: 12px !important;
  min-height: 250px;
  background-color: rgba(255, 0, 0, 0.086);
  border: 1px solid rgba(255, 0, 0, 0.231) !important;
  width: 710px;
}

.section-in-divs,
.second-section-in-divs {
  border-radius: 12px !important;
  min-height: 250px;
  background-color: rgba(255, 166, 0, 0.089);
  border: 1px solid rgba(255, 166, 0, 0.104) !important;
  width: 710px;
}
